/*

ud882 (Responsive Images Course in Udacity)

*/

body {
	font-size: 100%;
	font-family: sans-serif;
	line-height: 1.2em;
}

article {
	width: 100%;
	max-width: 50em;
	margin: 0 auto;
}

h1 {
  text-align: center;
  font-family: sans-serif;
  padding: 1em 0;
  color: #639;
}

figure {
	margin: 0;

}

img {
	width: 100%;
}

figcaption {
	font-size: 0.8em;
	color: #9D9D9D;
}
